$base: '../assets/fonts/';

@font-face {
  font-family: "Raleway100";
  src: url($base + 'raleway-v22-cyrillic-100.woff2') format("woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Raleway300";
  src: url($base + 'raleway-v22-cyrillic-300.woff2') format("woff2");
  font-weight: 300;
}