body {
  overflow: hidden;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: #000;
  @include flex;
  font-weight: 800;
  font-size: calc($index * 4);
  line-height: 1;
  font-weight: 800;

  p {
    animation: anim 1s ease-out;
    will-change: transform;

    span {
      display: inline-block;
      transform-origin: left bottom;
      animation: shifting 2s ease-in-out 2s alternate infinite;
      will-change: transform;
    }
  }
}

@keyframes anim {
  0% {
    transform: scale(0.2);
  }
  65% {
    transform: scale(2.5);
  }
  80% {
    transform: scale(.8);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
     transform: scale(1);
  }
};

@keyframes shifting {
  0% {
    transform: rotate(22deg) translateX(-5px);
  }
  100% {
    transform: rotate(42deg)translateX(-5px);
  }
};