$index: calc(1vw + 1vh);
$gutter: 5%;
$size-index-sm: 26;
$size-index-big: 36;
$side-sm: calc($size-index-sm * $index);
$side-m: calc($size-index-big * $index);
$shift-sm: calc($size-index-sm * $index / 2 + $gutter);
$shift-big: calc($size-index-big * $index / 2 + $gutter);
$depth: 3940px;
$depth-m: 3840px;
$sound-btn-width: 5vh;
